{% extends 'sitio/base.html' %}

{% block main %}

    <div class="page-header" style="background: url(/static/sitio/assets/img/banner2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="fallback-inner">

                    <div class="buttons">
                        <h2>500</h2><br>
                        <h2>SERVER ERROR</h2><br>
                        <div class="btn btn-common"><a href="/" style="color: #ffffff;">Ir a inicio</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block jscript %}
{% endblock %}