{% extends 'base.html' %}
{% block headcss %}

{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block main %}

    <div class="row-fluid">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="/panel/">Inicio</a><span class="divider"></span></li>
                <li><a href="{{ ruta }}" class="active">{{ model }}</a> <span class="divider">/</span></li>
            </ul>
        </div>
    </div>
    <!-- Formulario de Mantenimiento-->
    <div class=container>

        <div class='row-fluid'>
            <div class='col-md-14'>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4><strong>{{ titulo }}</strong></h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" enctype="multipart/form-data" id="frmEntidad" method="POST"
                              action="{{ ruta }}">{% csrf_token %}
                            <input type="hidden" name="id" value="{{ id }}">
                            <input type="hidden" name="action" value="{{ action }}">
                            <!-- Campos del formulario-->


                             <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="last-name">Restaurante<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="js-example-basic-single form-control"
                                                id="local"  {% if accion == 'ver' %}
                                                disabled {% endif %}
                                                name="local"
                                                {% if action == 'add' %}required{% endif %}>
                                            {% for c in local %}
                                                <option value="{{ c.id }}"
                                                        {% if c.id == idlocal %}
                                                        selected="selected"
                                                        {% endif %}>{{ c.nombreComercial |capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"
                                           for="last-name">Dias<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="js-example-basic-single form-control"
                                                id="dia"  {% if accion == 'ver' %}
                                                disabled {% endif %}
                                                name="dia"
                                                {% if action == 'add' %}required{% endif %}>
                                            {% for c in dias %}
                                                <option value="{{ c.id }}"
                                                        {% if c.id == iddia %}
                                                        selected="selected"
                                                        {% endif %}>{{ c.descripcion |capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                               <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Hora Open <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12" id='myDatepicker3'>
                                  <input type="time" name="horainic" id="horainicio" required
                                         value="{{ horainic }}" class="form-control">
                            </div>
                        </div>

                              <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Hora Close <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12" id='myDatepicker3'>
                                  <input type="time" name="horafin" id="horafin" required
                                         value="{{ horafin }}" class="form-control">
                            </div>
                        </div>


                            <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">¿Activo?
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input
                                                {% if accion == 'ver' %}
                                                    disabled {% endif %}
                                                    type="checkbox" id="estado" name="estado"
                                                    class="js-switch"
                                                {% if estado == True %} checked {% endif %}  />
                                    </div>
                                </div>

                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-xs-5 col-lg-offset-4">
                                        <div class="btn btn-group col-md-offset-3 ">

                                            <button type="submit" style="border-radius: 0px" {% if accion == 'ver' %}
                                                                               disabled {% endif %}
                                                    class="btn btn-success sbox" id="add">
                                                <i class="glyphicon glyphicon-save"></i> Guardar
                                            </button>

                                            <button type="button"
                                                    onclick="window.location = '{{ ruta }}'"
                                                    style="border-radius: 0px" class="btn btn-danger sbox"
                                                    id="add1">
                                                <i class="glyphicon glyphicon-remove"></i> Cancelar
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="/static/validaciones/funciones.js"></script>
    <link href="/static/selectmultiple/select2.min.css" rel="stylesheet">
    <script src="/static/selectmultiple/select2.min.js"></script>
    <script type="text/javascript" src="/static/input-cloak/jquery-inputcloak.min.js"></script>
{% endblock %}

{% block jscript %}
    <script>

        $(document).ready(function () {
            $('.cloaked').inputCloak();
        });


        $(function () {
            $('#id_username').on('blur', function () {
                var username = $("#id_username").val();
                $.ajax({
                    data: {'username': username},
                    url: '{{ ruta }}',
                    type: 'get',
                    success: function (data) {
                        var object = JSON.parse(data)
                        if (object.username == 'Existe') {
                            $("#id_username").val("");
                            Swal.fire({
                                toast: true,
                                position: 'top-end',
                                type: 'error',
                                title: 'Nombre de usuario no valido.',
                                showConfirmButton: false,
                                timer: 3500
                            })
                        }
                    }
                });

            });
        });


        $(function () {
            $('#id_email').on('blur', function () {
                var email = $('#id_email').val();
                if (email.length < 10 || validarEmail(email)) {
                    $("#id_email").val("");
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        type: 'error',
                        title: 'Email no valido.',
                        showConfirmButton: false,
                        timer: 3500
                    })
                }
            });
        });



        $(function () {
            $('#id_foto').on('change', function () {
                var rutaimg = $(this).val();
                var extension = rutaimg.substring(rutaimg.length - 3, rutaimg.length);
                if (extension.toLowerCase() === 'png' || extension.toLowerCase() === 'jpg') {
                    $('#presentaimg').fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
                } else {
                    $(this).val('');
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        type: 'error',
                        title: 'Formato no valido.',
                        showConfirmButton: false,
                        timer: 3500
                    })
                }
            });
        });


        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

    </script>
{% endblock %}
